# EDA 
Getting the data organized into a master data sheet

In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import xarray as xr
import numpy as np
import netCDF4

In [22]:
folder_path = 'dataset/Training_Anomalies_Station Data'

# Process each CSV file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):  # Ensure it's a CSV file
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        
        # Drop the longitude and latitude columns if they exist
        df = df.drop(columns=['longitude', 'latitude'], errors='ignore')
        
        # Save the updated DataFrame back to the same file (or modify as needed)
        df.to_csv(file_path, index=False)

In [35]:
folder_path = 'dataset/Training_Anomalies_Station Data'
all_data = []

# Process each CSV file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):  # Ensure it's a CSV file
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        df = df[['t', 'anomaly', 'location']]  # Ensure the required columns
        all_data.append(df)

# Concatenate all data into a single DataFrame
combined_df = pd.concat(all_data)

# Handle duplicates by aggregating using mean or another function
combined_df = combined_df.groupby(['t', 'location']).mean().reset_index()

# Pivot the DataFrame so each location is a column
result = combined_df.pivot(index='t', columns='location', values='anomaly')

# Reset the index name to "time"
result.index.name = 'date'

result.to_csv('Station_Anomaly.csv')


Station_Anomaly = pd.read_csv('Station_Anomaly.csv')
Station_Anomaly.head()

,date,Atlantic City,Baltimore,Eastport,Fort Pulaski,Lewes,New London,Newport,Portland,Sandy Hook,Sewells Point,The Battery,Washington
0,1993-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1993-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1993-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1993-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1993-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
Master_df = pd.read_csv('Station_Anomaly.csv')
Master_df.insert(1, 'Map', pd.NA)
Master_df.head()

,date,Map,Atlantic City,Baltimore,Eastport,Fort Pulaski,Lewes,New London,Newport,Portland,Sandy Hook,Sewells Point,The Battery,Washington
0,1993-01-01,<NA>,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1993-01-02,<NA>,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1993-01-03,<NA>,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1993-01-04,<NA>,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1993-01-05,<NA>,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
!git stash pop

Auto-merging model.ipynb
Removing main.ipynb
On branch master
Your branch is up to date with 'origin/master'.

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   dataset/Training_Anomalies_Station Data/Atlantic_City_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/Baltimore_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/Eastport_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/Fort_Pulaski_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/Lewes_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/New_London_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/Newport_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/Portland_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/Sandy_Hook_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/Sewells_Point_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/The_Battery_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/Washington_1993_2013_training_data.csv
	modified:   dataset/Training_Anomalies_Station Data/training_anomalies_merged.csv
	deleted:    main.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	EDA.ipynb
	Station_Anomaly.csv
	dataset/Training_Anomalies_Station Data/.ipynb_checkpoints/
	requirements.txt

no changes added to commit (use "git add" and/or "git commit -a")
Dropped refs/stash@{0} (b8a59a338dbfd2d9758d9b727da44e34b629e0ad)